.box {
    height: 500px;
    background-color: lightgray;
    margin: 20px;
}

.dayLight {
    background-color: yellowgreen;
}

button {
    background-color: orange;
    color: white;
    font-size: 20px;
    margin: 10px;
    border-color: white;
}